@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


html {
  /*-- Main font sizes --*/
  --title-size:      40px;
  --body-size:       16px;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #ABDFFD;
  --header-color:    white;
  --body-color:      white;
  --aside-color:     white;
  --fig-cap-color:   white;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Noto+Sans&display=swap";
  --mono-font:       monospace;
  --body-font:       sans-serif;
  --navbar-font:     "Noto+Sans&display=swap";
  /* websites + blogs only */
}

d-article {
  background-color: black;
  color: white;
}

d-title {
  --heading-size:    50px;
  --heading-color:   #ABDFFD;
  --body-size:       15px;
  color: white; 
  background-color: black;
}

/*-- 文章資訊欄 --*/
d-byline {
  --heading-size:    17px;
  --heading-color:   white;
  --body-size:       17px;
  --body-color:      white;
  background-color: black;
}

div:nth-child(2) h3 {
  margin-top: 5px !important;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --heading-color:   #011280;
  --contents-size:   15px;
  --contents-color:  black;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       20px;
  --text-color:      rgba(0, 0, 0, 0.5);
}

body {
  background-color: black;
  color: white;
}


th {
  text-align: center !important;
  color: black;
  border: 1px solid white ;
  text-align: center;
  padding: 8px;
  background-color: #76BB8D;
}

tr {
  text-align: center !important;
  border: 1px solid white;
  text-align: center;
  color: white;
}

td {
  text-align: center !important;
  border: 1px solid white;
  text-align: center;
  padding: 8px;
  color: white;
}

table, td, th {  
  border: 1px solid white !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}




#lawr {
  background-color: red;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

d-article a{
  color: red;
}


blockquote {
  background: #1B1E1C;
  border-left: 8px solid  #0F2E3D !important;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color:  #0F2E3D;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  color: white!important;
  font-size:15px;
}

.material-icons {
  vertical-align: middle !important;
  line-height: 10px !important;
  font-size: 15px !important;;
}


mark{
  background-color: lightblue !important;
}


div.ex2 {
  padding-left: 70px;
}

.d-title p{
   margin-bottom: 0px;
}

.blackbox {
  padding: 0.5em;
  background: #0F2E3D;
  color: white;
  border: 0px solid orange;
  border-radius: 10px;
}
.center p {
  text-align: center;
  font-size: 25 !important ;
  font-weight: bold;
}

.box {
  padding: 1em;
  background: white;
  color: black;
  font-size: 15px;
  border: 2px solid #0F2E3D;
  border-radius: 10px;
}
.center1 {
  text-align: center;
  font-size: 18px;
  color: #0F2E3D;
}

strong {
  color: #FFACDF;
}

nav {
  color:   white;
}

li {
  color: white !important;
}

d-article h2{
  color: #ABDFFD !important;
}